@page "/supplies"
@using kursach.DBManager.Models.SupplyModels;
@inject SupplyController supplyController

<PageTitle>
    Поставки
</PageTitle>

<div class="table">
    <NavLink href="supply_create">
        <button class="btn btn-primary">
            Создать
        </button>
    </NavLink>
    <table class="table">
        <tr>
            <th scope="col">Номер</th>
            <th scope="col">Организация</th>
            <th scope="col">Сумма</th>
            <th scope="col">Дата поставки</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Проведена</th>
        </tr>
        @foreach(var supply in supplies){
            <tr>
                <td scope="row">@supply.SupplyId</td>
                <td>@supply.Organization</td>
                <td>@supply.Summ</td>
                <td>@supply.SupplyDate</td>
                <td>@supply.CreatedAt</td>
                <td>@supply.Done</td>
            </tr>
        }
    </table>
</div>


@code {
    private Supply[] supplies { get; set; }

    protected override async Task OnInitializedAsync(){
        supplies = await supplyController.GetSuppliesAsync();
    }
}
